# $Id: $

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  methods,
  sp,
  spatstat
)

importClassesFrom(maptools,
                  ppp, psp, owin)

## does this mean require(spatstat) not needed in as.ppp.trip?
importFrom(maptools, as.ppp.SpatialPointsDataFrame)

## to fix tripRbind: no visible global function definition for 'spRbind'
importFrom(maptools, spRbind)
